# ai
openspec/

# config
.expo/
.env
.env.*
!.env.example
!.env.dev
.DS_Store

# build
dist/
ios/
android/

# node_modules
node_modules/
.pnpm-store/**

# py
*.pyc
__pycache__/
.pytest_cache/
.venv/
venv/